<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="row">
        <div class="form-group col-xs-2" >
            <label for="name">Brand</label>
            <input type="text" class="form-control" id="name" name="name"
                   [(ngModel)]="sku.name"/>
        </div>
        <div class="form-group col-xs-2">
            <label class="form-control-label" for="field_model">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_model"
                [(ngModel)]="sku.quantity" />
        </div>
        <div class="form-group col-xs-2">
            <label class="form-control-label" for="field_price">CurrentSales</label>
            <input type="number" class="form-control" name="currentSales" id="field_price"
                [(ngModel)]="sku.currentSales" />
        </div>
        <div class="form-group col-xs-2">
            <label class="form-control-label" for="field_price">PreviousSales</label>
            <input type="number" class="form-control" name="previousSales" id="field_price"
                [(ngModel)]="sku.previousSales" />
        </div>
        <div class="form-group col-xs-2">
            <label class="form-control-label" for="field_price">% Change</label>
            <input type="number" class="form-control" name="percentChange" id="field_price"
                [(ngModel)]="sku.percentChange" />
        </div>
    </div>
    <div class="modal-footer" style="border-bottom:1px solid #e9ecef; border-top:none">
    	<button type="submit"
            (click)="save()"
            class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
    <div class="form-group" style="width: 175px;">
        <label class="form-control-label" for="field_price">Id</label>
        <input type="number" class="form-control" name="percentChange" id="field_price"
                [(ngModel)]="id" />
    </div>
    <div class="modal-footer" style="border-bottom:1px solid #e9ecef; border-top:none">
        <button type="submit"
            (click)="confirmDelete()"
            class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Delete Row</span>
        </button>
    </div>
</form>
