
/* ==========================================================================
table page styles
========================================================================== */

table{
    margin-left: auto;
    margin-right: auto;
	th{
		padding-right:100px;
	}
}
