body {
    background-color: #f3f6f9;
}
.pp-tiresales {
    padding: 1rem;
    
}
.pp-tiresalesdatablock {
    display: inline-block;
}
.pp-ytdsales {
    color: blue;
}
.pp-change {
    color: lightgreen;
}